<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" type="text/css" href="/static/css/header.css">
    <title>Title</title>
</head>
<body>
<header>
    <div class="header-navigation-main">
        <nav class="header-navigation-menu">
            <ul>
                <li>Home</li>
                <li>Exercices</li>
                <li>My Projects</li>
                <li>About me</li>
                <li>Contact</li>
            </ul>
        </nav>
    </div>
</header>


<svg>
    <rect width="100%" height="100%"></rect>
    <text x="500px" y="300px" font-size="30">
        Welcome
    </text>

</svg>
</body>
</html>